<div class="jumbotron text-center">
  <h1>Post Factory</h1>
  <p>A social networking application made for sharing only texts</p>
  <div>
    <button type="button" class="btn btn-primary" routerLink="/register">Register</button>
    <button type="button" class="btn btn-secondary" routerLink="/login">Login</button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Better than Instagram</h3>
    <p>Who needs photos and videos when you can only have texts.</p>
  </div>
  <div class="col-md-4">
    <h3>Amazing User Interface</h3>
    <p>A truly original user interface design. Totally not using bootstrap.</p>
  </div>
  <div class="col-md-4">
    <h3>Most Innovative Application</h3>
    <p>An epitome of innovation, Post Factory team makes existing concept "better".</p>
  </div>
</div>
